#annotation_box {
	height: 100%;
	margin-top: 5px;
}

#annotation_box_semantic_checkbox {
	font-weight: bold;
	font-style: italic;
	margin-left: 20px;
	margin-bottom: 15px;
}

#annotation_box_personal, #annotation_box_description {
	margin: 0px 5px;
	text-align: center;
	border: solid 1px gray;
}

#annotation_box_personal_label, #annotation_box_description_label {
	height: 24px;
	font-size: 17px;
	padding-top: 2px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 10px;
	background: url('../images/fondHeaderTree.png') repeat;
}

#annotation_box_personal_hbox {
	padding: 5px;
	padding-left: 20px;
}

#annotation_box_personal_hbox_textbox {
	color: gray;
	height: 25px;
	font-size: 13px;
	font-style: italic;
	margin-bottom: 10px;
}

#annotation_box_personal_hbox_image {
	cursor: move;
	margin-top: 7px;
}

#annotation_box_description {
	margin-top: 10px;
	padding-bottom: 20px;
}

#annotation_box_description_textbox {
	color: gray;
	height: 45px;
	font-size: 13px;
	font-style: italic;
	margin: 8px 25px 0px 25px;
}

#annotation_box_microformats {
	height: 515px;
}

#annotation_box_microformats_dragged_box {
	height: 30px;
	font-weight: bold;
	font-style: italic;
	padding: 5px 10px;
}