#pimi_home_general_box {
	padding: 5px 0px 0px;
}

#pimi_home_title {
	margin-top: 10px;
	margin-left: 35px;
}

#pimi_home_logo:hover {
	cursor: pointer;
}

#pimi_home_account_creation, #pimi_home_disconnected {
	text-align: center;
	padding: 0px 20px;
	margin-left: 15px;
}

.form_label {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}

.form_input {
	color: blue;
	text-shadow: 0 0 0 black, 0 0 0 black;
}

.form_button {
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 0 0 black, 0 0 0 black;
}

#account_creation_create_button, #account_connexion_connect_button {
	margin-top: 30px;
}