#pimi_home_general_box {
	padding: 10px 0px 0px;
}

#pimi_home_title {
	margin-top: 20px;
	margin-left: 35px;
}

#pimi_home_account_creation, #pimi_home_disconnected {
	text-align: center;
	padding: 0px 20px;
	margin-top: 130px;
	margin-left: 15px;
}

#pimi_home_account_creation {
	display: none;
	margin-top: 90px;
}

.form_label {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}

.form_input {
	color: blue;
	text-shadow: 0 0 0 black, 0 0 0 black;
	box-shadow: 8px 8px 5px #999; -moz-box-shadow: 8px 8px 5px #999; -webkit-box-shadow: 8px 8px 5px #999; -khtml-box-shadow: 8px 8px 5px #999;
}

.form_button {
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 0 0 black, 0 0 0 black;
	box-shadow: 8px 8px 5px #999; -moz-box-shadow: 8px 8px 5px #999; -webkit-box-shadow: 8px 8px 5px #999; -khtml-box-shadow: 8px 8px 5px #999;
}

#account_creation_create_button {
	margin-top: 30px;
}

#account_creation_connexion_button {
	margin-top: 100px;
}

#account_connexion_connect_button {
	margin-top: 30px;
}

#account_connexion_account_creation_button {
	margin-top: 176px;
}

#pimi_home_connected {
	display: none;
	margin-top: 105px;
	text-align: center;
	padding: 0px 20px;
	font-weight: bold;
}

.function_button {
	cursor: pointer;
	width: 200px;
	margin: 15px 20px;
	text-shadow: 0 0 0 black, 0 0 0 black;
	box-shadow: 8px 8px 5px #999; -moz-box-shadow: 8px 8px 5px #999; -webkit-box-shadow: 8px 8px 5px #999; -khtml-box-shadow: 8px 8px 5px #999;
}

#log_console_row {
	padding: 0px 20px;
}

#log_console_listbox {
	width: 185px;
	overflow: auto;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	box-shadow: 8px 8px 5px #999; -moz-box-shadow: 8px 8px 5px #999; -webkit-box-shadow: 8px 8px 5px #999; -khtml-box-shadow: 8px 8px 5px #999;
}
