treechildren {
	cursor: move;
}

#microformats_tree {
	overflow: auto;
	margin-top: 10px;
}

#microformats_panel #microformats_tree {
	margin-top: 5px;
}

#microformats_tree_header {
	font-weight: bold;
	font-style: italic;
	padding-left: 85px;
}

#microformats_tree_body {
	padding: 10px 0px;
	background: #c1d1e0;
}